<h2>Lista de tarefas</h2>

<hr />

<p-toolbar styleClass="p-mb-4">
    <ng-template pTemplate="left">
        <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success p-mr-2" (click)="openNew()"></button>
        
    </ng-template>

</p-toolbar>

<p-table [value]="tasks">
    <ng-template pTemplate="header">
        <tr>
            <th>Completed</th>
            <th>Description</th> 
            <th></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-task>
        <tr>
            
            <td> <input type="checkbox" class="form-check-input" [(ngModel)]="task.completed" (change)="onCompletedCheckChange(task)" /></td>
            <td>{{task.description}}</td>   
            <td>
                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2" (click)="editTask(task)"></button>
                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteTask(task)"></button>
            </td>
         
        </tr>
    </ng-template>
</p-table>

<p-dialog [(visible)]="taskDialog" [style]="{width: '450px'}" header="Task Details" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">     
        <div class="p-field">
            <label for="description">Description</label>
            <textarea id="description" pInputTextarea [(ngModel)]="task.description" required autofocus rows="3" cols="20"></textarea>
            <small class="p-invalid" *ngIf="submitted && !task.description">Descrição é requirido.</small>
        </div>
    </ng-template>

    <ng-template pTemplate="footer">
            <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
            <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveTask()"></button>
        </ng-template>
    </p-dialog>
    